#wrapper {
	padding-left: 250px;

	#page-content-wrapper {
		width: 100%;
    position: absolute;
	}
}

@media(max-width:768px) {
	#wrapper {
		padding-left: 0;
		#page-content-wrapper {
  		padding: 20px;
  		position: relative;
		}
	}
}