#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #F8F8F8;
	border: 1px solid #E7E7E7;
	border-top: none;

	.panel-group {
		border-radius: 0;

		.panel.panel-default {
			border: 0;
			border-radius: 0;
			margin: 0;
			border-bottom: 1px solid #E7E7E7;

			.panel-heading {
				padding: 15px;
				background: #F8F8F8;

				.panel-title {
					text-indent: 5px;
					color: #777;
					font-weight: 200;

					.fa {
						padding-right: 5px;
					}

					a, a:hover {
						text-decoration: none;
					}
				}
			}

			.panel-body {
				padding: 0;
				border-radius: 0;

				.list-group {
					margin: 0;
					.list-group-item {
						text-indent: 10px;
						margin: 0;
						border: 0;
						border-top: 1px solid #E7E7E7;
						border-radius: 0;

						&:first-child {
							border: 0;
						}
					}
				}
			}
		}
	}
}