#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #F8F8F8;
	border: 1px solid #E7E7E7;
	border-top: none;
}