#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #F8F8F8;
	border: 1px solid #E7E7E7;
	border-top: none;

	.sidebar-nav {
		position: absolute;
		top: 0;
		width: 250px;
		margin-top: 0;
		padding: 0;
		list-style: none;

		li {
			text-indent: 20px;
			font-size: 15px;
			line-height: 50px;
			border-bottom: 1px solid #E7E7E7;

			a {
				display: block;
				text-decoration: none;
				color: #777;

				&:hover {
					text-decoration: none;
					color: #555;
    			background: #E7E7E7;
				}
			}
		}
	}
}