<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li><a href=""><i class="fa fa-github"></i>Dashboard</a></li>

		<li><a href=""><i class="fa fa-github"></i>Dashboard</a></li>

		<li><a href=""><i class="fa fa-github"></i>Dashboard</a></li>
		
		<li><a href=""><i class="fa fa-github"></i>Dashboard</a></li>
	</ul>
</div>