<div id="sidebar-wrapper">

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-briefcase"></i>
          Sales
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="list-group">
          <% @employees.each do |employee| %>
            <%= link_to employee.name, employee_path(employee), class: "list-group-item" %>
          <% end %>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-wrench"></i>
          Service
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="list-group">
				  <a href="#" class="list-group-item">Manoj</a>
				  <a href="#" class="list-group-item">Ramesh</a>
				  <a href="#" class="list-group-item">Rakesh</a>
				  <a href="#" class="list-group-item">Harish</a>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-cogs"></i>
          Spare
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="list-group">
				  <a href="#" class="list-group-item">Manoj</a>
				  <a href="#" class="list-group-item">Ramesh</a>
				  <a href="#" class="list-group-item">Rakesh</a>
				  <a href="#" class="list-group-item">Harish</a>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" ar
        ia-controls="collapseThree">
        	<i class="fa fa-user"></i>
          Customer Care
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="list-group">
				  <a href="#" class="list-group-item">Manoj</a>
				  <a href="#" class="list-group-item">Ramesh</a>
				  <a href="#" class="list-group-item">Rakesh</a>
				  <a href="#" class="list-group-item">Harish</a>
				</div>
      </div>
    </div>
  </div>
</div>
</div>